@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primaryColor: rgb(51, 153, 255);
  --primaryBg: #0A1929;
  --componentBg: #040C15;
  --componentSecondaryBg: rgba(51, 153, 255, 0.08);
  --frontColor: #FFFFFF;
  --secondaryFrontColor: rgba(255, 255, 255, 0.6);
  --red: #FF3C3C;
  --bgRed: rgba(200, 24, 24, 0.15);
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--primaryColor);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primaryBg);
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
